.vscode
models/__pycache__
.vscode/settings.json
data.numbers
__pycache_/
test_set/
jetson_socket/__pycache__/
models_trained/
mvcnn_training/MVCNN-Jetson_stage_1
mvcnn_training/MVCNN-Jetson_stage_2
full_test/MVCNN-Jetson_stage_1
full_test/MVCNN-Jetson_stage_2
full_test/models/__pycache__
*.pth
pruning/imagenet-sample-images
/*.pyc
/data
/pruning/data
